:root {
    --color-white-dark: hsl(0, 0%, 96%);
    --color-white: hsl(0, 0%, 99%);
    --color-white-true: hsl(0, 0%, 100%);
    --color-grey-light: hsl(0, 0%, 33%);
    --color-grey: hsl(0, 0%, 29%);
    --color-grey-dark: hsl(0, 0%, 20%);
    --color-grey-darker: hsl(0, 0%, 15%);
    --color-black: hsl(0, 0%, 17%);

    --color-blue: hsl(187, 100%, 42%);
    --color-blue-dark: hsl(187, 100%, 33%);
    --color-blue-darker: hsl(187, 100%, 38%);
    --color-blue-light: hsl(187, 71%, 50%);
    --color-blue-lightest: hsl(187, 71%, 59%);

    --color-red: red;
    --color-background: var(--color-white);
    --color-font: var(--color-black);
    --color-primary: var(--color-blue);
    --color-primary-darker: var(--color-blue-dark);
    --color-primary-lighter: var(--color-blue-light);
    --color-primary-lightest: var(--color-blue-lightest);
}

@font-face {
    format: 'woff2';
    src: url('./static/fonts/Lato-Regular.woff2');
    font-family: 'Lato-Regular';
    font-weight: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // font-size: 10px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-white-true);
    font-family: 'Lato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
}
